<settings>
	<localRepository>d:/data/maven-2.0/repository</localRepository>
	<mirrors>
		<mirror>
			<id>central-mirror</id>
			<name>central-mirror</name>
			<url>https://artifact.swissre.com/external</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>
    <proxies>
        <proxy>
            <active>true</active>
            <protocol>http</protocol>
            <host>gate-zrh-os.swissre.com</host>
            <port>8080</port>
            <nonProxyHosts>localhost|127.0.0.1|*.swissre.com</nonProxyHosts>
            <id>default</id>
        </proxy>
    </proxies>
	<profiles>
		<profile>
			<id>default</id>
			<repositories>
				<repository>
					<id>internal</id>
					<name>internal</name>
					<url>https://artifact.swissre.com/internal</url>
				</repository>
				<repository>
					<id>thirdparty</id>
					<name>thirdparty</name>
					<url>https://artifact.swissre.com/thirdparty</url>
				</repository>
				<repository>
					<id>external</id>
					<name>external</name>
					<url>https://artifact.swissre.com/external</url>
				</repository>
				<repository>
					<id>snapshots</id>
					<name>snapshots</name>
					<url>https://artifact.swissre.com/snapshot-local</url>
				</repository>
				<repository>
					<id>jenkins-ci</id>
					<name>jenkins-ci</name>
					<url>https://repo.jenkins-ci.org/public</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>internal-plugin</id>
					<name>internal-plugin</name>
					<url>https://artifact.swissre.com/internal</url>
				</pluginRepository>
				<pluginRepository>
					<id>thirdparty-plugin</id>
					<name>thirdparty-plugin</name>
					<url>https://artifact.swissre.com/thirdparty</url>
				</pluginRepository>
				<pluginRepository>
					<id>external-plugin</id>
					<name>external-plugin</name>
					<url>https://artifact.swissre.com/external</url>
				</pluginRepository>
				<pluginRepository>
					<id>snapshot-plugin</id>
					<name>snapshot-plugin</name>
					<url>https://artifact.swissre.com/snapshot-local</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>default</activeProfile>
	</activeProfiles>
	<servers>
        <server>
			<id>snapshots</id>
			<username>snapshot</username>
			<password>snapshot</password>
		</server>
        <server>
			<id>svn.zrh.swissre.com</id>
			<username>TECRNGVC</username>
			<password>${env.SVN_PW}</password>
		</server>
        <server>
			<id>centralX</id>
			<username>tecarr1p</username>
			<password>${env.ARTIFACTORY_PW}</password>
		</server>
	</servers>
</settings>
